############################################################
#region debug
import { createLogFunctions } from "thingy-debug"
{log, olog} = createLogFunctions("{{moduleName}}")
#endregion

############################################################
export initialize = ->
    log "initialize"
    #Implement or Remove :-)
    return
    
